body{
    background-color: white;
    font-family:'Franklin Gothic Medium';
    text-align: center;
    color: #50342b;
}

/*---------------------------------------------------------------*/
/*                         Header Styling                        */
/*---------------------------------------------------------------*/
.header{
    height:256px;
}
.hTitle{
    height:80%;
    display:flex;
    background-color:#ffeeed;
}
.hLogo{
    width:30%;
    height:85%;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}
#hdrLg{
    width:100%;
    height:auto;
}
#frmLogo{
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
.hImg{
    width:15%;
    margin-right:auto;
    margin-top:auto;
}
#hdrImg{
    width:100%;
    height:auto;
}
.nav{
    height:20%;
    display:flex;
    justify-content: space-between;
    width:80vw;
    margin-left:auto;
    margin-right:auto;   
}
.navtab{
    color:#50342b;
    font-weight:bolder;
    margin-top:0.5em;
}
.navtab:hover{
    color:#ffeeed;
}
.navlnk{
    text-decoration:none;
}


/*---------------------------------------------------------------*/
/*                        Button Styling                         */
/*---------------------------------------------------------------*/
button{
    margin:1em;
    padding:1em;
    border:solid #ffeeed;
    background-color:white;
}
button:hover{
    background-color:#ffeeed;
}


/*---------------------------------------------------------------*/
/*                      Main Body Styling                        */
/*---------------------------------------------------------------*/
.mnCont{
    height:auto;
}
.imgSldshw{
    height:auto;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}
#ss-img-1{
    width:100%;
    height:auto;
}
/*.slides{
    border:solid yellow;
    width:80vw;
    height:512px;
    margin-left:auto;
    margin-right:auto;
}*/
/*.cmcSect{
    border:solid black;
}*/
.art{
    width:80vw;
    height:auto;
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.img-type3{
    /*flex-grow:1;*/
    width:32%;
}
#art-img-1, #art-img-2, #art-img-3{
    width:100%;
    height:auto;
}
/*#art-img-2, #art-img-3{
    width:100%;
    height:auto;
}
#art-img-3{
    width:100%;
    height:auto;
}*/
.news{
    height:auto;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}
.nwsRw{
    background-color:rgb(245, 242, 245);
    height:auto;
    display:flex;
    padding:1em;
    margin-bottom:1em;
}
/*#nwsRw1, #nwsRw2{
    margin-bottom:1em;
}*/
.img-type4{
    width:25%;
}
.nws{
    padding-left:1em;
    text-align:left;
}
#nws-img-1, #nws-img-2, #nws-img-3{
    width:100%;
    height:auto;
}
/*#nws-img-2, #nws-img-3{
    width:100%;
    height:auto;
}
#nws-img-3{
    width:100%;
    height:auto;
}*/
.qzzs{
    display:flex;
    justify-content: space-between;
    width:80vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.qz{
    width:32%;
}
.img-type5{
    /*flex-grow:1;*/
    width:100%;
}
#qz-img-1, #qz-img-2, #qz-img-3{
    width:100%;
    height:auto;
}
.pfCont{
    border:solid red;
    width:80vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.pfBio{
    border:solid blue;
    background-color:#ebfbf5;
    margin:2em 0;
    padding:3em 2em;
    text-align: left;
}
.bioPar{
    padding-top: 2em;
}
.tblTtl{
    width:100px;
}
/*
.tblLtr1{
    font-weight: lighter;
}*/


/*---------------------------------------------------------------*/
/*                         Footer Styling                        */
/*---------------------------------------------------------------*/
.ftr{
    border:solid black;
    background-color: #ffeeed;
    height:100px;
    width:auto;
    position: sticky;
    bottom:0;
}
.footer{
    border:solid blue;
    width:80vw;
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.ftrItems{
    border:solid pink;
    display:flex;
    justify-content: space-between;
}
.footerItems{
    border:solid yellow;
    display: flex;
    justify-content:space-between;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}
.ftrIcons{
    margin-top: auto;
    margin-bottom: auto;
}