body{
    background-color: white;
    font-family:'Franklin Gothic Medium';
    text-align: center;
    color: #50342b;
}

/*---------------------------------------------------------------*/
/*                         Header Styling                        */
/*---------------------------------------------------------------*/
.header{
    height:256px;
}
.hTitle{
    height:80%;
    display:flex;
    background-color:#ffeeed;
}
.hLogo{
    width:30%;
    height:85%;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}
#hdrLg{
    width:100%;
    height:auto;
}
#frmLogo{
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
.hImg{
    width:15%;
    margin-right:auto;
    margin-top:auto;
}
#hdrImg{
    width:100%;
    height:auto;
}
.nav{
    height:20%;
    display:flex;
    justify-content: space-between;
    width:80vw;
    margin-left:auto;
    margin-right:auto;   
}
.navtab{
    color:#50342b;
    font-weight:bolder;
    margin-top:0.5em;
}
.navtab:hover{
    color:#ffeeed;
}
.navlnk{
    text-decoration:none;
}


/*---------------------------------------------------------------*/
/*                        Button Styling                         */
/*---------------------------------------------------------------*/
button{
    margin:1em;
    padding:1em;
    border:solid #f1ccd1;
    background-color:white;
}
button:hover{
    background-color:#f1ccd1;
}


/*---------------------------------------------------------------*/
/*                      Main Body Styling                        */
/*---------------------------------------------------------------*/
.mnCont{
    height:auto;
}
.imgSldshw{
    height:auto;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}
#ss-img-1{
    width:100%;
    height:auto;
}

.art{
    width:80vw;
    height:auto;
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.img-type3{
    width:32%;
}
#art-img-1, #art-img-2, #art-img-3{
    width:100%;
    height:auto;
}

.news{
    height:auto;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}
.nwsRw{
    background-color:rgb(245, 242, 245);
    height:auto;
    display:flex;
    padding:1em;
    margin-bottom:1em;
}
.img-type4{
    width:25%;
}
.nws{
    padding-left:1em;
    text-align:left;
}
#nws-img-1, #nws-img-2, #nws-img-3{
    width:100%;
    height:auto;
}

.qzzs{
    display:flex;
    justify-content: space-between;
    width:80vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.qz{
    width:32%;
}
.img-type5{
    /*flex-grow:1;*/
    width:100%;
}
#qz-img-1, #qz-img-2, #qz-img-3{
    width:100%;
    height:auto;
}

.pfCont{
    width:80vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.profile{
    display:flex;
}
.pfPic{
    margin-bottom: 8em;
}
.pfBio{
    background-color:#ebfbf5;
    margin-top: auto;
    margin-bottom: auto;
    padding:8em 2em;
    text-align: left;
    height:fit-content;
}
.bioPar{
    padding-top: 2em;
    text-align: center;
}
.tblTtl{
    width:100px;
}

.abtCont{
    height:auto;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
}
#abt-img{
    width:100%;
    height:auto;
}
.abtPic{
    width:18%;
    margin-left:auto;
    margin-right:auto;
}
#abt-pic{
    width:100%;
    height:auto;
}
.abtBio{
    background-color:#ebfbf5;
    margin-top: auto;
    margin-bottom: auto;
    padding:0 2em 2em 2em;
    height:fit-content;
    font-weight: lighter;
}
.bioTxt{
    width:60%;
    margin-left:auto;
    margin-right:auto;
}


.incompletePage{
    width:80vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.incmpltImg{
    width:55vw;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
#inImg{
    width:100%;
}



/*---------------------------------------------------------------*/
/*                         Footer Styling                        */
/*---------------------------------------------------------------*/
.ftr{
    background-color: #ffeeed;
    height:100px;
    width:auto;
    position: sticky;
    bottom:0;
}
.footer{
    width:80vw;
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.ftrItems{
    display:flex;
    justify-content: space-between;
}

.ftrBtnImg{
    width:90px;
    height:70px;
    margin-left:13%;
}
#fBI{
    width:100%;
}

.footerItems{
    display: flex;
    justify-content:space-between;
    list-style: none;
    margin-top: 30px;
    margin-bottom: auto;
}
.footerIcons{
    display:flex;
    justify-content:space-between;
    margin-top: auto;
    margin-bottom: auto;
}
.fI{
    display:flex;
    justify-content:space-between;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}
.f-i{
    width:36px;
    height:36px;
}
#f-i-1, #f-i-2, #f-i-3, #f-i-4, #f-i-5, #f-i-6{
    width:100%
}

/*---------------------------------------------------------------*/
/*              Footer Button Image Overlay Styling              */
/*---------------------------------------------------------------*/
.container {
    border:solid #ffeeed;
    /*width: 335px;
    height: 127px;*/
    width: 270px;
    height: 0;
    position: relative;
    margin-top: 0;
  }
  .box {
    width: 270px;
    height: 62px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    /*background: #0057e3;*/
  }
  /*.overlay{*/
  #overlayBox{
    width: 90px;
    height: 70px;
    z-index: 9;
    /*margin-left:15%;
    margin-bottom:10px;*/
    margin:-30px;
    margin-left:0;
    /*background: #009938;*/
  }
  #fBtn{
    width: 270px;
    height: 62px;
  }